<%= page_title "Balanced Programme" %>
<% provide :use_charts, true %>

<div id="status_message" style="width: 50%; margin-left: auto; margin-right: auto; background-color: #caf18e; text-align: center; font-weight: bold;">
  Loading page.
</div>


<div id="tabs">
  <ul>
      <li><a href="#information">Information</a></li>
      <li><a href="#number">By Number</a></li>
      <li><a href="#time">By Time</a></li>
  </ul>
  
  <div id="information">
    <p>In order to analyse your programme we use the tags attached to each of your activities. The following tables show how these tags are turned into the methods and zones which your programme meets. You should bear in mind that the results are only as good as the tagging of the activities. The tags may be entered in any case and with or without the spaces.</p>
    <p>Remember the aim is that the programme will be balanced over a period of time, for this reason we consider activities that have been done from a few years ago upto a few years into the future, how many years depends on your section (it is the time an average youth member will be in your section). We also calculate a score for how balanced your programme is (for the statistically inclined this is based on the stanadard deviation) - if you're a Cub leader and manage to get 100% I want to know / steal your programme :-).</p>
    <p>You can view a review of how balanced you programme is either by number or by time. When viewing by number you are seeing how many activities you have done which meet the zone/method, whereas viewing by time shows you how long you have spent doing activities which meet each zone/method.</p>

    <h2>Programme Zones</h2>
    <table>
      <tr><th>Zone</th><th>Tags</th></tr>
      <%- @zones.each do |zone| %>
        <tr><td><%= zone[0] %></td><td><%= zone.join(', ') %></td></tr>
      <%- end %>
    </table>

    <h2>Programme Methods</h2>
    <table>
      <tr><th>Method</th><th>Tags</th></tr>
      <%- @methods.each do |method| %>
        <tr><td><%= method[0] %></td><td><%= method.join(', ') %></td></tr>
      <%- end %>
    </table>

    <%- unless @cached_terms.empty? %>
      <h2>Caching</h2>
      <%= form_tag delete_multiple_programme_review_balanced_cache_path, :method => :post do %>
        <p>In order to speed up the generation of these graphs the data from some of your terms was retreieved from a cache, it the activities used within these terms (or the programme for the term) has changed since they were generated then they will be out of date. If this is the case you may delete the cached data using the links in the table below.</p>
        <table>
          <tr><th></th><th>Term</th><th>Created at</th><th>Actions</th></tr>
          <%- @cached_terms.each do |cached_term| %>
            <tr>
              <td><%= check_box_tag "ids[]", cached_term.id %></td>
              <td><%= "#{cached_term.term_name} (#{ordinalized_date(cached_term.term_start, "%d %b %Y")} - #{ordinalized_date(cached_term.term_finish, "%d %b %Y")})" %></td>
              <td><%= cached_term.created_at.strftime('%d %b %Y %H:%M:%S %Z') %> (<%= distance_of_time_in_words_to_now(cached_term.created_at) %> ago)</td>
              <td><%= link_to '[Delete]', cached_term, data: {:confirm => 'Are you sure?'}, method: :delete %></td>
            </tr>
          <%- end %>
        </table>
        <div style="text-align: center;"><%= submit_tag "Delete selected cache entries" %></div>
      <% end %>
    <%- end %>
  </div>


  <div id="number">
    <h2>Programme zones</h2>
    <div>
      <div style="width: 750px; height: 350px; display: table-cell;">
        <div id="number_zones_chart">
          <div style="width: inherit; height: inherit;">
            Your graph will appear here soon.
          </div>
        </div>
      </div>
      <div style="width: 250px; height: 350px; display: table-cell; vertical-align: middle;">
        <div id="number_zones_score">
          <p>Your score will appear here soon.</p>
        </div>
      </div>
    </div>

    <h2>Programme methods</h2>
    <div>
      <div style="width: 750px; height: 350px; display: table-cell;">
        <div id="number_methods_chart">
          <div style="width: inherit; height: inherit;">
            Your graph will appear here soon.
          </div>
        </div>
      </div>
      <div style="width: 250px; height: 350px; display: table-cell; vertical-align: middle;">
        <div id="number_methods_score">
          <p>Your score will appear here soon.</p>
        </div>
      </div>
    </div>
  </div>


  <div id="time" style="min-height: 100px;">
   <h2>Programme zones</h2>
    <div>
      <div style="width: 750px; height: 350px; display: table-cell;">
        <div id="time_zones_chart">
          <div style="width: inherit; height: inherit;">
            Your graph will appear here soon.
          </div>
        </div>
      </div>
      <div style="width: 250px; height: 350px; display: table-cell; vertical-align: middle;">
        <div id="time_zones_score">
          <p>Your score will appear here soon.</p>
        </div>
      </div>
    </div>

    <h2>Programme methods</h2>
    <div>
      <div style="width: 750px; height: 350px; display: table-cell;">
        <div id="time_methods_chart">
          <div style="width: inherit; height: inherit;">
            Your graph will appear here soon.
          </div>
        </div>
      </div>
      <div style="width: 250px; height: 350px; display: table-cell; vertical-align: middle;">
        <div id="time_methods_score">
          <p>Your score will appear here soon.</p>
        </div>
      </div>
    </div>
   </div>
</div>
