<% provide :title, "Balanced Programme" %>

<p>This page uses the tags attached to the activities in you programme in order to give you an idea of how balanced your programme is. You should bear in mind that the results are only as good as the tagging of the activities. The tags which the code pays attention to are shown below each graph and may be entered in any case and with or without the spaces.</p>

<div id="status_message" style="width: 50%; margin-left: auto; margin-right: auto; background-color: #caf18e; text-align: center; font-weight: bold;">
  Loading page.
</div>

<h2>Programme zones</h2>
<div id="zones_chart" style="width: 850px; height: 350px;">
  <div style="width: inherit; height: inherit; display: table-cell; vertical-align: middle; text-align: center;">
    Your graph will appear here soon.
  </div>
</div>
<div id="zones_info">
  <div style="width: 70%; display: inline-block;">
    <p>The following tags are used in evaluating your programme:</p>
    <table>
      <tr><th>Zone</th><th>Tags</th></tr>
      <%- @zones.each do |zone| %>
        <tr><td><%= zone[0] %></td><td><%= zone.join(', ') %></td></tr>
      <%- end %>
    </table>
  </div>
  <div id="zones_score" style="width: 25%; display: inline-block;">
    <p>Your score will appear here soon.</p>
  </div>
</div>

<h2>Programme methods</h2>
<div id="methods_chart" style="width: 850px; height: 350px;">
  <div style="width: inherit; height: inherit; display: table-cell; vertical-align: middle; text-align: center;">
    Your graph will appear here soon.
  </div>
</div>
<div id="methods_info">
  <div style="width: 70%; display: inline-block;">
    <p>The following tags are used in evaluating your programme:</p>
    <table>
      <tr><th>Method</th><th>Tags</th></tr>
      <%- @methods.each do |method| %>
        <tr><td><%= method[0] %></td><td><%= method.join(', ') %></td></tr>
      <%- end %>
    </table>
  </div>
  <div id="methods_score" style="width: 25%; display: inline-block;">
    <p>Your score will appear here soon.</p>
  </div>
</div>

<%- unless @cached_terms.empty? %>
  <h2>Caching</h2>
  <p>In order to speed up the generation of these graphs the data from some of your terms was retreieved from a cache, it the activities used within these terms (or the programme for the term) has changed since they were generated then they will be out of date. If this is the case you may delete the cached data using the links in the table below.</p>
  <table>
    <tr><th>Term</th><th>Created at</th><th>Actions</th></tr>
    <%- @cached_terms.each do |term| %>
      <tr><td><%= @terms[term.term_id].name %></td><td><%= term.created_at.strftime('%d %b %Y %H:%M:%S %Z') %> (<%= distance_of_time_in_words_to_now(term.created_at) %> ago)</td><td><%= link_to '[Delete]', term, confirm: 'Are you sure?', method: :delete %></td></tr>
    <%- end %>
  </table>
<%- end %>
