<p>Whilst trying to prepare your email reminder for <%= @reminder.section_name %> an error occured - there is no current term.</p>
<p>This is a problem because when we ask OSM for data for your section we need to tell OSM what term we want the details for. Since today is not in a term we couldn't work out what term to give to OSM. Please correct this by following the instructions below.</p>

<ul>
  <li>Login to <%= link_to 'OSM', 'https://www.onlinescoutmanager.co.uk' %>.</li>
  <li>Make sure you are using the <%= @reminder.section_name %> section.</li>
  <li>From the term selector choose "Configure terms".</li>
  <%- if @next_term.nil? && @last_term.nil? %>
  <li>Add some terms.</li>
  <%- elsif @next_term.nil? %>
  <li>Add a term after <%= @last_term.name %> or change its finish date.</li>
  <%- elsif @last_term.nil? %>
  <li>Add a term before <%= @next_term.name %> or change its start date.</li>
  <%- else %>
  <li>
    Remove the gap between <%= @last_term.name %> and <%= @next_term.name %> by either:
    <ul>
      <li>Making <%= @last_term.name %> finish on <%= ordinalized_date((@next_term.start - 1), "%d of %b %Y") %></li>
      <li>Making <%= @next_term.name %> start on <%= ordinalized_date((@last_term.finish + 1), "%d of %b %Y") %></li>
      <li>Changing the finish date of <%= @last_term.name %> and the start date of <%= @next_term.name %> so there is no gap between them.</li>
    </ul>
  </li>
  <%- end %>
</ul>
