<p>Hello <%= @share.name %>, <%= @share.reminder.user.name %> has decided to share a reminder email for <%= @share.reminder.section_name %> with you.</p>

<p>If you decide to subscribe to the email then every <%= Date::DAYNAMES[@share.reminder.send_on] %> you'll receive an email with the following details:</p>
<ul>
  <%- @share.reminder.items.each do |item| %>
    <li><%= item.human_name %></li>
  <%- end %>
</ul>

<p>You will be able to unsubscribe at any time, to subscribe to the email please follow the link below
<br/><%= link_to nil, routes.edit_email_reminder_subscription_url(:id => @share.id, :auth_code => @share.auth_code) %><br/>
If you do not follow the link then you will not receive the emails, <%= @share.reminder.user.name %> is able to have this email sent to you again if you feel they are abusing this ability then please goto <%= link_to nil, routes.contact_us_url %> and use the contact form to let us know.</p>
