<%= page_title "Site Anouncement - #{@announcement.title}" %>

<p>
  <b>Title:</b>
  <%= @announcement.title %>
</p>

<p>
  <b>Message:</b>
  <%= @announcement.message %>
</p>

<p>
  <b>Start:</b>
  <%= @announcement.start %>
</p>

<p>
  <b>Finish:</b>
  <%= @announcement.finish %>
</p>

<p>
  <b>Public:</b>
  <%= yes_no(@announcement.public, false) %>
</p>

<p>
  <b>Emailed:</b>
  <%= yes_no(@announcement.emailed_at?, false) %>
  <%- if @announcement.emailed_at? %>
    (<%= distance_of_time_in_words_to_now(@announcement.emailed_at) %> ago)
  <%- end %>
</p>

<p>
  <b>Prevent hiding:</b>
  <%= yes_no(@announcement.prevent_hiding, false) %>
</p>
