<%= page_title 'Sign in' %>

<div>

  <div style="display: inline-block;">
    <%= form_tag signin_path do %>
      <div class="field">
        <%= label_tag :email_address %><br/>
        <%= email_field_tag :email_address, params[:email_address] %>
      </div>
      <div class="field">
        <%= label_tag :password %><br/>
        <%= password_field_tag :password %><br/>
        <%= link_to 'Forgotten your password?', new_password_reset_path %>
      </div>
      <div class="actions"><%= submit_tag 'Sign in' %></div>
    <% end %>
  </div>

  <% if show_paypal_donation? %>
    <div style="display: inline-block; margin-left: 5%; max-width: 50%;">
      <%= render "static/paypal" %>
    </div>
  <% end %>

</div>
