<%= form_tag password_resets_path+'/'+@token, :method => :put do %>
  <% if @user.errors.any? %>
    <div id="error_messages">
      <h2>The following errors occured:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :email_address %><br/>
    <%= @user.email_address %>
  </div>
  <div class="field">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %><br/>
    <%= link_to 'Need help picking a good password?', 'https://www.grc.com/haystack.htm', {:target => '_blank'} %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation %><br/>
    <%= password_field_tag :password_confirmation %>
  </div>
  <%= hidden_field_tag :token, @token %>
  <%= hidden_field_tag :use_token, 1 %>
  <div class="actions">
    <%= submit_tag 'Reset password' %>
  </div>
<% end %>