<%= page_title 'Reset Password' %>

<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email_address %><br/>
    <%= email_field_tag :email_address %>
  </div>

  <%= submit_tag 'Request password reset' %>
<% end %>
