<% provide :title, "FAQs" %>

<h2>Add FAQ</h2>
<%= render 'form' %>

<h2>Existing FAQs</h2>
<div id="faq_tags" data-update-url="<%= re_order_faq_tags_url %>" data-csrf-token="<%= form_authenticity_token.to_s %>">
  <%- @faqs.each do |tag, faqs| %>
    <div id="tag_<%= tag.id %>">
      <h3><span class="drag_handle">[re-order]</span> <%= tag.name %></h3>
      <table class="left">
        <thead>
          <tr>
            <th>Question</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="tag-<%= tag.id %>" class="faqs-to-reorder" data-update-url="<%= re_order_faqs_url(tag.id) %>" data-csrf-token="<%= form_authenticity_token.to_s %>">
          <%- faqs.each do |faq| %>
            <tr id="faq_<%= tag.id %>_<%= faq.id %>">
              <td><span class="drag_handle">[re-order]</span> <%= faq.question %></td>
              <td><%= faq.active ? 'Yes' : 'No' %></td>
              <td>
                <%= link_to '[Show]', faq %>
                <%= link_to '[Edit]', edit_faq_path(faq) %>
                <%= link_to '[Delete]', faq, data: {:confirm => 'Are you sure?'}, method: :delete %>
              </td>
            </tr>
          <%- end %>
        </tbody>
      </table>
    </div>
  <%- end %>
</div>
