<%= page_title "Delayed jobs" %>

<h2>Delayed Jobs</h2>
<%= render 'jobs', jobs: @jobs%>

<h2>Cron Jobs</h2>
<%= render 'jobs', jobs: @crons%>

<h2>Settings</h2>
<table>
  <%- @settings.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td>
        <%- if value.is_a?(ActiveSupport::Duration) # It's a time %>
          <%- if value >= 3600 %><%= (value / 3600) %> hours<%- end %>
          <%- if value >= 60 %><%= ((value / 60) % 60 ) %> minutes<%- end %>
          <%= (value % 60) %> seconds
        <%- else %>
          <%= value.inspect %>
        <%- end %>
      </td>
    </tr>
  <%- end %>
</table>
