<%= page_title "Edit Shared Event - #{@shared_event.name}" %>

<h2>Event details</h2>
<%= render 'form' %>


<h2>Fields</h2>
<%- if (@shared_event.attendance.count == 0) %>
  <p>You can only edit your event's fields before it is used by sections, you will always get attendee's names.</p>
  <ul>
    <li>First name</li>
    <li>Last name</li>
    <%- @shared_event.fields.each do |field| %>
      <li>
        <%= form_for field, :url=>shared_event_field_path(@shared_event, field) do |f| %>
          <%= f.text_field :name %>
          <%= f.submit 'Update field' %>
          <%= link_to '[Destroy]', shared_event_field_path(@shared_event, field), data: {:confirm => 'Are you sure?'}, method: :delete %>
        <%- end %>
      </li>
    <%- end %>
    <li>
      <%= form_for @new_field, :url=>shared_event_fields_path(@shared_event) do |f| %>
        <%= f.text_field :name, {:placeholder => 'Name for a new field'} %>
        <%= f.submit 'Create new field' %>
      <%- end %>
    </li>
  </uL>

<%- else %>
  <p>You can't edit your event's extra fields as it's being used by sections.</p>
  <ul>
    <li>First name</li>
    <li>Last name</li>
    <%- @shared_event.fields.each do |field| %>
      <li><%= field.name %></li>
    <%- end %>
  </uL>

<%- end %>
