<%= form_for @email_reminder, :validate=>true do |f| %>
  <% if @email_reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_reminder.errors.count, "error") %> prohibited this email_reminder from being saved:</h2>

      <ul>
      <% @email_reminder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :section_id, 'Section' %><br />
    <%= f.select :section_id, get_section_names.invert %>
  </div>

  <div class="field">
    <%= f.label :send_on %><br />
    <%= f.select :send_on, options_for_select(Date::DAYNAMES.each_with_index.to_a, @email_reminder.send_on) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
