<% provide :title, 'Edit email reminder' %>

<h2>Reminder details</h2>
<%= render 'form' %>

<h2>Items</h2>
<%- unless @email_reminder.items.empty? %>
  <p>This reminder contains the following items.</p>
  <table>
    <tr>
      <th>Item</th>
      <th>Configuration</th>
      <th>Actions</th>
    </tr>
  
    <%- @email_reminder.items.each do |item| %>
      <tr>
        <td><%= item.friendly_name %></td>
        <td><%- item.configuration.each_key do |key| %>
          <%= item.labels[key] %>: <%= item.configuration[key] %><br/>
        <%- end %></td>
        <td>
          <%= link_to '[Edit]', self.send("edit_#{item.class.to_s.gsub!(/(.)([A-Z])/,'\1_\2').downcase!}_path", @email_reminder, item) %>
          <%= link_to '[Destroy]', email_reminder_item_path(@email_reminder, item), confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
    <%- end %>
  </table>
<%- else %>
  <p>This email reminder has no items yet.</p>
<%- end %>

<br/>

<%- unless @available_items.empty? %>
  <p>You can add an item by using the links below.</p>
  <ul>
    <%- @available_items.each do |item| %>
      <%- if item[:as_link] %>
        <li><%= link_to item[:name], self.send("new_email_reminder_item_#{item[:type]}_path", @email_reminder) %>
      <%- else %>
        <li><%= item[:name] %> - You need to fix your <%= link_to 'OSM permissions', osm_permissions_path %> to have access to this item
      <%- end %>
    <%- end %>
  </ul>
<%- else %>
  <p>There are no more items you can add.</p>
<%- end %>
