<% provide :title, 'Email reminders' %>


<%- unless @email_reminders.empty? %>
  <table>
    <tr>
      <th>Send on</th>
      <th>Actions</th>
    </tr>
  
  <% @email_reminders.each do |email_reminder| %>
    <tr>
      <td><%= day_name(email_reminder.send_on) %></td>
      <td>
        <%= link_to '[Show]', email_reminder %>
        <%= link_to '[Edit]', edit_email_reminder_path(email_reminder) %>
        <%= link_to '[Preview]', preview_email_reminder_path(email_reminder), :target=>'_blank' %>
        <%= link_to '[Send]', send_email_reminder_path(email_reminder) %>
        <%= link_to '[Destroy]', email_reminder, confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
  </table>
  <p>When previewing an email fake data is used in order to ensure that all the selected items have something to show.</p>
<%- else %>
  <p>You do not currently have any email reminders setup, <%= link_to 'create one', new_email_reminder_path %>.</p>
<%- end %>
