<%= page_title 'Show email reminder' %>

<h2>Reminder details</h2>
<p>
  <b>Section:</b>
  <%= @email_reminder.section_name %>
</p>

<p>
  <b>Send on:</b>
  <%= Date::DAYNAMES[@email_reminder.send_on] %>
</p>

<h2>Items</h2>
<%- unless @email_reminder.items.empty? %>
  <p>This reminder contains the following items.</p>
  <ol>
    <%- @email_reminder.items.each do |item| %>
      <li><%= item.human_name %> (<%= item.human_configuration %>)</li>
    <%- end %>
  </ol>
<%- else %>
  <p>This email reminder has no items yet.</p>
<%- end %>
