<% provide :title, 'Show email reminder' %>

<h2>Reminder details</h2>
<p>
  <b>Section ID:</b>
  <%= @email_reminder.section_id %>
</p>

<p>
  <b>Send on:</b>
  <%= day_name(@email_reminder.send_on) %>
</p>

<h2>Items</h2>
<%- unless @email_reminder.items.empty? %>
  <p>This reminder contains the following items.</p>
  <table>
    <tr><th>Item</th><th>Configuration</th></tr>
    <%- @email_reminder.items.each do |item| %>
      <tr>
        <td><%= item.friendly_name %></td>
        <td><%- item.configuration.each_key do |key| %>
          <%= item.labels[key] %>: <%= item.configuration[key] %><br/>
        <%- end %></td>
      </tr>
    <%- end %>
  </table>
<%- else %>
  <p>This email reminder has no items yet.</p>
<%- end %>


<h2>Preview</h2>
<div style="max-width: 600px; border: 1px solid black; text-align: center;">
  <a id="preview-html" href="<%= preview_email_reminder_path(@email_reminder, 'html') %>">[HTML]</a>
  <a id="preview-text" href="<%= preview_email_reminder_path(@email_reminder, 'text') %>">[Plain text]</a>
  <div id="preview" style="width:95%, margin-right: auto; margin-left: auto; border: 1px solid black; text-align: left;">
    <p>You can preview what your email will look like, please select the version you wish to preview using the links just above this box.</p>
    <p>The first time you preview the email it will take a while to load as the data is pulled from OSM, after that the email should load faster due to the cachine which is done.</p>
  </div>
</div>
