<% provide :title, "OSM Permissions" %>

<p>To change what this site is able to do with your data in OSM you need change our access rights in OSM, to do this:</p>
<ol>
  <li>Go to <a href="https://www.onlinescoutmanager.co.uk" target="_blank">https://www.onlinescoutmanager.co.uk</a> and login.</li>
  <li>Using the "Account" drop down menu choose "External Access"</li>
  <li>Setup "<%= OSM::API.api_name %>" to have access to your data, the list below shows what permissions are used for what as well as what permissions you have granted.
</ol>

<br/>

<table>
  <tr><th>OSM&nbsp;Permission</th><th>Site&nbsp;Action</th><th>Requires</th><th>Granted</th></tr>
  <tr><td>Scout Details</td></tr>
  <tr><td></td><td>Email lists</td><td>Read</td><td><%= yes_no @permissions.can_read?(:member) %>
  <tr><td></td><td>Email reminders (birthdays)</td><td>Read</td><td><%= yes_no @permissions.can_read?(:member) %>
  <tr><td>Badge Records</td></tr>
  <tr><td></td><td>Email reminders (due badges)</td><td>Read</td><td><%= yes_no @permissions.can_read?(:badge) %>
<!--  <tr><td>Administration</td></tr><!-- user -->
  <tr><td>Attendance Register</td></tr>
  <tr><td></td><td>Email reminders (not seen)</td><td>Read</td><td><%= yes_no @permissions.can_read?(:register) %>
  <tr><td>Programme</td></tr>
  <tr><td></td><td>Email reminders (programme)</td><td>Read</td><td><%= yes_no @permissions.can_read?(:programme) %>
  <tr><td></td><td>Programme review</td><td>Read</td><td><%= yes_no @permissions.can_read?(:programme) %>
  <tr><td>Events</td></tr>
  <tr><td></td><td>Email reminders (events)</td><td>Read</td><td><%= yes_no @permissions.can_read?(:programme) %>
<!--  <tr><td>Flexi-Records</td></tr> -->
<!--  <tr><td>Finances</td></tr> -->
</table>
