<% provide :title, 'OSM export' %>


<%= form_tag osm_export_do_path do %>
  <h2>What would you like?</h2>
  <%- @exports.each do |heading, exports| %>
    <h3><%= heading %></h3>
    <%- unless exports[:permission] %>
      You need to fix your <%= link_to 'OSM permissions', osm_permissions_path %> to have access to <%= (exports[:items].size > 1) ? 'these items' : 'this item' %>.<br/>
    <%- end %>
    <%- exports[:items].each do |item| %>
      <%= radio_button_tag :export, item[:export], (params[:export] == item[:export]), {:disabled => !exports[:permission]} %>
      <%= label_tag "export_#{item[:export]}", item[:label] %>
      <br/>
    <%- end %>
  <%- end %>


  <h2>When would you like it for?</h2>
  <div class="field">
    <%= label_tag :term_id, 'Term' %><br />
    <%= select_tag :term_id, options_for_select(get_current_section_terms, params[:term_id]) %>
  </div>


  <h2>How would you like it?</h2>
  <div class="field">
    <%= hidden_field_tag :include_header, false %>
    <%= check_box_tag :include_header, true, params[:include_header] %>
    <%= label_tag :include_header, 'Include header line' %>
  </div>

  <div class="field">
    <%= label_tag :column_separator %><br />
    <%= select_tag :column_separator, options_for_select({'Comma'=>',', 'Tab'=>'TAB'}, params[:column_separator]) %>
  </div>

  <div class="field">
    <%= label_tag :quote %><br />
    <%= select_tag :quote, options_for_select(['"', "'"], params[:quote]) %><br/>
    <%= hidden_field_tag :force_quotes, false %>
    <%= check_box_tag :force_quotes, true, params[:force_quotes] %>
    <%= label_tag :force_quotes %>
  </div>


  <div class="actions">
    <%= submit_tag 'Export data' %>
  </div>
<% end %>
