<%= page_title 'Statistics' %>

<ul>
  <li><%= link_to('User statistics', user_statistics_path) %></li>
  <li><%= link_to('Reminder email statistics', email_reminders_statistics_path) %></li>
  <li><%= link_to('Automation task statistics', automation_tasks_statistics_path) %></li>
  <li><%= link_to('Section statistics', sections_statistics_path) %></li>
  <li><a href="https://analytics.google.com/analytics/web/#/report-home/a71918561w109507773p114186129" target="_blank">Google Analytics</a></li>
</ul>
