<% provide :title, 'Edit User' %>

<%= form_for @user, :validate=>true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_messages">
      <h2>The following errors occured:</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Personal Details</h2>
  <div class="field">
    <%= f.label :name%><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br/>
    <%= f.text_field :email_address %>
  </div>

  <h2>Account State</h2>
  <%- if @user %>
    <div class="field">
      Activated account?<br/>
      <%= yes_no @user.active? %>
    </div>
    <div class="field">
      Locked account?<br/>
      <%= yes_no @user.locked?, false %>
      <%- if @user.locked? %>
        (Lock expires at <%= @user.lock_expires_at %>)
        <%= link_to 'Unlock', unlock_user_path(@user), :method=>:post %>
      <% end %>
    </div>
    <div class="field">
      Connected to OSM<br/>
      <%= yes_no @user.connected_to_osm? %>
    </div>
  <% end %>
  
  <h2>Permissions</h2>
  <div class="field">
    <%= f.check_box :can_administer_users %>
    <%= f.label :can_administer_users %>
  </div>
  <div class="field">
    <%= f.check_box :can_administer_settings %>
    <%= f.label :can_administer_settings %>
  </div>
  <div class="field">
    <%= f.check_box :can_view_statistics %>
    <%= f.label :can_view_statistics %>
  </div>
  <div class="field">
    <%= f.check_box :can_administer_announcements %>
    <%= f.label :can_administer_announcements %>
  </div>
  <div class="field">
    <%= f.check_box :can_administer_delayed_job %>
    <%= f.label :can_administer_delayed_job %>
  </div>
  <div class="field">
    <%= f.check_box :can_become_other_user %>
    <%= f.label :can_become_other_user %>
  </div>
  
  <div class="actions"><%= f.submit 'Update' %></div>
<% end %>

