<% provide :title, 'Users' %>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email address</th>
    <th>Actions</th>
  </tr>
  <%- @users.each do |user| %>
    <tr>
      <td><%= image_tag "http://www.gravatar.com/avatar/#{user.gravatar_id}?size=60&default=identicon".html_safe, :size=>'60x60', :alt=>"#{user.name}'s gravatar" %></td>
      <td><%= user.name %></td>
      <td><%= user.email_address %></td>
      <td>
        <%- if can? :edit, user %>
          <%= link_to('Edit user', edit_user_path(user))%><br/>
        <%- end %>
        <%- if can? :reset_password, user %>
          <%= link_to('Reset password', reset_password_user_path(user))%><br/>
        <%- end %>
        <%- if can? :resend_activation, user %>
          <%= link_to('Resend activation email', resend_activation_user_path(user))%><br/>
        <%- end %>
      </td>
    </tr>
  <%- end %>
</table>
