<% provide :title, 'Users' %>
<% provide :use_jquery, true %>

<%= form_tag users_path, :method => 'get', :id => "users" do %>

  <%= hidden_field_tag :sort_column, params[:sort_column] %>
  <%= hidden_field_tag :sort_direction, params[:sort_direction] %>

  <table>
    <tr><th colspan="2">Filter by</th></tr>
    <tr>
      <td style="text-align: right;">Name</td>
      <td><input id="search_name" name="search_name" size="25" type="text" value="<%= params[:search_name] %>" onkeyup="filter_table(this);"/></td>
    </tr>
    <tr>
      <td style="text-align: right;">Email</td>
      <td><input id="search_email" name="search_email" size="25" type="text" value="<%= params[:search_email] %>" onkeyup="filter_table(this);"/></td>
    </tr>
  </table>

  <br/>

  <div id="users_table"><%= render 'users' %></div>

<% end %>
