<% provide :title, 'Sign up' %>

<%= form_for @user, :validate=>true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_messages">
      <h2>The following errors occured:</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name%><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br/>
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= div_for_password_strength_meter %><br/>
    <%= f.password_field :password %><br/>
    <%= link_to 'Need help picking a good password?', 'https://www.grc.com/haystack.htm', {:target => '_blank'} %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  <%- unless Settings.read('signup code').blank? %>
    <div class="field">
      <%= label_tag :signup_code %><br/>
      <%= text_field_tag :signup_code, @signup_code %>
    </div>
  <%- end %>
  <div class="actions"><%= f.submit 'Sign up' %></div>
<% end %>

