<%= page_title 'Search members' %>

<%= form_tag osm_search_members_results_path do %>

  <h2>Search fields</h2>
  <table class="jquery-thead">
    <thead>
      <tr>
        <td></td>
        <%- @section_ids.each do |section_id| %>
          <th>
            <%= check_box_tag "select_all_s[#{section_id}]", 1, false, {:class => 'select_all_section', :data => {'section-id' => section_id}, :title => '(Un)Select all for this section'} %>
            <%= label_tag "select_all_s[#{section_id}]", get_section_names[section_id] %>
          </th>
        <%- end %>
      </tr>
    </thead>
    <tbody>
      <%- @columns.each do |key, values| %>
        <tr>
          <th colspan="<%= @section_ids.count + 1 %>">
            <h3><%= @column_groups[key] %></h3>
          </th>
        </tr>
        <%- values.each do |value| %>
          <%- field_key = "#{key}-#{value}" %>
          <tr>
            <td>
              <%= check_box_tag "select_all_f[#{field_key}]", 1, false, {:class => 'select_all_field', :data => {'field-id' => field_key}, :title => '(Un)Select all for this field'} %>
              <%= value.titleize %>
            </td>
            <%- @section_ids.each do |section_id| %>
              <td>
                <%= check_box_tag "selected[#{section_id}][#{key}[#{value}]]", 1, false, {:class => "section-#{section_id} field-#{field_key}"} %>
              </td>
            <%- end %>
          </tr>
        <%- end %>
      <%- end %>
    </tbody>
  </table>

  <h2>Search for</h2>
  <%= text_field_tag :search_for, params[:search_for], :size => 50 %>
  <%= submit_tag 'Search' %>
<%- end %>
