<%= form_for @email_list, :validate=>true do |f| %>
  <% if @email_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_list.errors.count, "error") %> prohibited this email_list from being saved:</h2>

      <ul>
      <% @email_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= hidden_field_tag 'email_list[notify_changed]', 0 %>
    <%= f.check_box :notify_changed, {}, true, false %>
    <%= f.label :notify_changed, 'Notify me when an address changes (checks each night)' %>
  </div>

  <%= render 'form_criteria', :f => f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
