  I would like these email addresses for members of
  <%= f.select :section_id, get_section_names.invert %>
  <br/>
  <%- [:email1, :email2, :email3, :email4].each do |emailN| %>
    <%= f.check_box emailN, {}, true, false %><%= f.label emailN, current_section.column_names[emailN] %><br/>
  <%- end %>

  For members who
  <%= f.select :match_type, {'are'=>true, 'are not'=>false} %>
  in the
  <%= f.select :match_grouping, {'Any'=>'0'}.merge(@groupings[@email_list.section_id]) %>
  <span id="grouping_name"><%= get_grouping_name(current_section.type) %></span>.

  <script type="text/javascript">
    var sections_data = jQuery.parseJSON("<%= @sections_data %>");
  </script>

  <br/>