<% provide :title, "Email Lists" %>

<%= render 'list' %>

<h2>List Options</h2>
You asked for these email addresses<ul>
<%- [:email1, :email2, :email3, :email4].each do |emailN| %>
  <% if @email_list.send(emailN) %><li><%= current_section.column_names[emailN] %></li><% end %>
<%- end %>
</ul>
For members who
<%= @email_list.match_type ? 'are' : 'are not' %>
in the
<%- @groupings.merge({'Any'=>0}).each_key do |key| %>
  <%= key.downcase if @groupings[key].to_i == @email_list.match_grouping %>
<%- end %>
<%= get_grouping_name(current_section.type) %>.

<h2>Save List</h2>
<%= form_for @email_list, :validate=>true do |f| %>
  <%- [:email1, :email2, :email3, :email4, :match_type, :match_grouping].each do |key| %>
    <%= f.hidden_field key %>
  <%- end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit 'Save this list' %>
  </div>
<% end %>
