  <tr id="member">
    <td>Contact Details</td>
    <td><ul>
      <li>Contact Details</li>
      <li>Email Lists</li>
      <li>Email Reminders (birthdays)</li>
      <li>Reports (Event attendance)</li>
      <li>Search Members</li>
      <li>OSM Export</li>
    </ul></td>
    <td>Read</td>
    <td><%= pos_neg current_user.api_has_osm_permission?(section, :read, :member), osm_api_permission_human_friendly(:member, current_user, section) %></td>
    <td><%= pos_neg current_user.user_has_osm_permission?(section, :read, :member), osm_user_permission_human_friendly(:member, current_user, section) %></td>
  </tr>

  <!--
  <tr id="badge">
    <td>Badge Records</td>
    <td>Feature(s)</td>
    <td>Read or Read/Write</td>
    <td><%= pos_neg current_user.api_has_osm_permission?(section, :read, :badge), osm_api_permission_human_friendly(:badge, current_user, section) %></td>
    <td><%= pos_neg current_user.user_has_osm_permission?(section, :read, :badge), osm_user_permission_human_friendly(:badge, current_user, section) %></td>
  </tr>
  -->


  <tr id="user">
    <td>OSM Administration</td>
    <td>Reports (Audit leader access)</td>
    <td>Administer</td>
    <td><%= pos_neg current_user.api_has_osm_permission?(section, :administer, :user), osm_api_permission_human_friendly(:user, current_user, section) %></td>
    <td><%= pos_neg current_user.user_has_osm_permission?(section, :administer, :user), osm_user_permission_human_friendly(:user, current_user, section) %></td>
  </tr>


  <!--
  <tr id="register">
    <td>Attendance Register</td>
    <td>Feature(s)</td>
    <td>Read or Read/Write</td>
    <td><%= pos_neg current_user.api_has_osm_permission?(section, :read, :register), osm_api_permission_human_friendly(:register, current_user, section) %></td>
    <td><%= pos_neg current_user.user_has_osm_permission?(section, :read, :register), osm_user_permission_human_friendly(:register, current_user, section) %></td>
  </tr>
  -->

  <tr id="programme">
    <td>Programme</td>
    <td>Reports (Calendar)</td>
    <td>Read</td>
    <td><%= pos_neg current_user.api_has_osm_permission?(section, :read, :programme), osm_api_permission_human_friendly(:programme, current_user, section) %></td>
    <td><%= pos_neg current_user.user_has_osm_permission?(section, :read, :programme), osm_user_permission_human_friendly(:programme, current_user, section) %></td>
  </tr>

  <tr id="events">
    <td rowspan="1">Events</td>
    <td>Reports:<ul>
      <li>Calendar</li>
      <li>Event attendance</li>
    </ul></td>
    <td>Read</td>
    <td><%= pos_neg current_user.api_has_osm_permission?(section, :read, :events), osm_api_permission_human_friendly(:events, current_user, section) %></td>
    <td><%= pos_neg current_user.user_has_osm_permission?(section, :read, :events), osm_user_permission_human_friendly(:events, current_user, section) %></td>
  </tr>
<!--  <tr>
    <td>Something</td>
    <td>Read and Write</td>
  </tr> -->

  <tr id="flexi">
    <td>Flexi-Records &amp; File Storage</td>
    <td>
      Flexi Records<
    </td>
    <td>Read</td>
    <td><%= pos_neg current_user.api_has_osm_permission?(section, :read, :flexi), osm_api_permission_human_friendly(:flexi, current_user, section) %></td>
    <td><%= pos_neg current_user.user_has_osm_permission?(section, :read, :flexi), osm_user_permission_human_friendly(:flexi, current_user, section) %></td>
  </tr>

  <!--
  <tr id="finance">
    <td>Finances</td>
    <td>Feature(s)</td>
    <td>Read or Read/Write</td>
    <td><%= pos_neg current_user.api_has_osm_permission?(section, :read, :finance), osm_api_permission_human_friendly(:finance, current_user, section) %></td>
    <td><%= pos_neg current_user.user_has_osm_permission?(section, :read, :finance), osm_user_permission_human_friendly(:finance, current_user, section) %></td>
  </tr>
  -->

  <!--
  <tr id="quartermaster">
    <td>Quartermaster&#39;s Database</td>
    <td>Feature(s)</td>
    <td>Read or Read/Write</td>
    <td><%= pos_neg current_user.api_has_osm_permission?(section, :read, :quartermaster), osm_api_permission_human_friendly(:quartermaster, current_user, section) %></td>
    <td><%= pos_neg current_user.user_has_osm_permission?(section, :read, :quartermaster), osm_user_permission_human_friendly(:quartermaster, current_user, section) %></td>
  </tr>
  -->
