  <table>
    <tr><th>OSM&nbsp;Permission</th><th>Site&nbsp;Action</th><th>Requires</th><th>Granted<br/>(to OSMX)</th><th>Granted<br/>(to your OSM user)</th></tr>

    <tr><td class="title"><%= section.youth_section? ? 'Scout Details' : 'Contact Details' %></td><td class="empty" colspan="4"></td></tr>
    <tr><td class="empty"></td><td>Contact details</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :member, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :member, current_user, section) %></td></tr>
    <%- if !section.waiting? %>
    <tr><td class="empty"></td><td>Email lists</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :member, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :member, current_user, section) %></td></tr>
    <tr><td class="empty"></td><td>Email reminders (birthdays)</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :member, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :member, current_user, section) %></td></tr>
    <%- end %>
    <%- if section.youth_section? %>
    <tr><td class="empty"></td><td>Shared Events (attendance)</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :member, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :member, current_user, section) %></td></tr>
    <%- end %>
    <tr><td class="empty"></td><td>Search members</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :member, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :member, current_user, section) %></td></tr>

    <%- if section.youth_section? %>
    <tr><td class="title">Badge Records</td><td class="empty" colspan="4"></td></tr>
    <tr><td class="empty"></td><td>Email reminders (due badges)</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :badge, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :badge, current_user, section) %></td></tr>
    <%- end %>

<!--    <tr><td class="title">Administration</td><td class="empty" colspan="4"></td></tr> --> <!-- :user -->

    <%- if section.youth_section? %>
    <tr><td class="title">Attendance Register</td><td class="empty" colspan="4"></td></tr>
    <tr><td class="empty"></td><td>Email reminders (not seen)</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :register, current_user, section) %><td><%= yes_no user_has_osm_permission?(:read, :register, current_user, section) %></td></td></tr>
    <%- end %>

    <%- if section.youth_section? %>
    <tr><td class="title">Programme</td><td class="empty" colspan="4"></td></tr>
    <tr><td class="empty"></td><td>Email reminders (programme)</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :programme, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :programme, current_user, section) %></td></tr>
    <tr><td class="empty"></td><td>Programme review</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :programme, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :programme, current_user, section) %></td></tr>
    <tr><td class="empty"></td><td>Programme wizard</td><td>Read and Write</td><td><%= yes_no api_has_osm_permission?([:read, :write], :programme, current_user, section) %></td><td><%= yes_no user_has_osm_permission?([:read, :write], :programme, current_user, section) %></td></tr>
    <%- end %>

    <%- if section.youth_section? %>
    <tr><td class="title">Events</td><td class="empty" colspan="4"></td></tr>
    <tr><td class="empty"></td><td>Email reminders (events)</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :events, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :events, current_user, section) %></td></tr>
    <tr><td class="empty"></td><td>Shared Events (attendance)</td><td>Read and Write</td><td><%= yes_no api_has_osm_permission?([:read, :write], :events, current_user, section) %></td><td><%= yes_no user_has_osm_permission?([:read, :write], :events, current_user, section) %></td></tr>
    <%- end %>

    <%- if !section.waiting? %>
    <tr><td class="title">Flexi-Records</td><td class="empty" colspan="4"></td></tr>
    <tr><td class="empty"></td><td>Flexi Records</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :flexi, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :flexi, current_user, section) %></td></tr>
    <%- end %>
    <%- if section.youth_section? %>
    <tr><td class="empty"></td><td>Shared Events (attendance)</td><td>Read</td><td><%= yes_no api_has_osm_permission?(:read, :flexi, current_user, section) %></td><td><%= yes_no user_has_osm_permission?(:read, :flexi, current_user, section) %></td></tr>
    <%- end %>

  <!--  <tr><td class="title">Finances</td><td class="empty" colspan="4"></td></tr> -->
  </table>
  
