= page_title 'Closing'

%ol
  %li= link_to 'What\'s Happening', '#whats-happening'
  %li
    = link_to 'Alternatives', '#alternatives'
    %ol
      %li= link_to 'Stay Upto Date', '#stay-upto-date'
  %li
    = link_to 'Settings Export', '#settings-export'
    %ol
      %li=link_to 'Everything', '#settings-export-everything'
      %li=link_to 'Email Reminders', '#settings-export-email-reminders'
      %li=link_to 'Email Lists', '#settings-export-email-lists'
      %li=link_to 'Automation Tasks', '#settings-export-automation-tasks'

%hr

%a{ name: 'whats-happening' }
%h2 What's Happening
%p
  After much annoyance at seeing how society is still insisting that STEM is not girly and consequences that has
  on Brownie aged girls I’ve decided to do something about it. In order to get the time I need I’m leaving Scouting
  (after almost 20 years so whilst this is a positive decision for me it is still big enough that I’ve not taken it
  lightly). Since that means I will no longer be routinely using OSM or legitimately having access to any live
  sections in OSM I feel that future development/maintenance of OSM Extender is not something that I can in good
  conscious continue to commit to.
%p
  In the absence of anyone coming forward to pick up the baton (in which case the plan will change and I’ll update
  you again) OSM Extender will close on the 4th of November 2019. Whilst you may still be able to access it for a
  few days after that, don’t count on it! OSM Extender will be taken down and the database behind OSM Extender will
  be deleted along with all backups and OSM will be asked to revoke all access users have granted to OSM Extender.
%p
  I have also posted in the API developers part of OSM’s forum a list of the features of OSM Extender provides
  (along with usage levels) so you may find someone will pick up a feature or two and make it available again.
  You may want to keep an eye on the API Showcase part of the OSM forum -
  = link_to 'https://www.onlinescoutmanager.co.uk/forum/viewforum.php?f=6', 'https://www.onlinescoutmanager.co.uk/forum/viewforum.php?f=6'
  where you’ll also be able to see what else other developers have created.

%a{ name: 'alternatives' }
%h2 Alternatives
%p
  I’ve managed to find some alternatives for parts of OSM Extender, these are shown below, if any of the other
  developers using the OSM API manage to fill a gap I’ll update this list.

%table{style: 'width: 75%'}
  %tr
    %th OSM Extender Area
    %th Use Case
    %th Alternative(s)

  %tr
    %td Automation Tasks
    %td
    %td No alternative found.

  %tr
    %td Email Lists
    %td
    %td No alternative found.

  %tr
    %td Email Reminders
    %td
    %td No alternative found.

  %tr
    %td Payments Calculator
    %td
    %td No alternative found.

  %tr
    %td Programme Review
    %td
    %td No alternative found, although OSM’s attempt should suffice for most people.

  %tr
    %td OSM Exports
    %td Flexi Records
    %td OSM’s spreadsheet export should suffice for most users.
  %tr
    %td
    %td Members
    %td OSM now has this feature.
  %tr
    %td
    %td Programme
    %td Only OSM’s PDF & Calendar feed alternatives.

  %tr
    %td Reports
    %td Audit Leader Access
    %td No alternative found.
  %tr
    %td
    %td Awarded Badges
    %td OSM now has this report, although it is only grouped by badge and requires a Gold subscription.
  %tr
    %td
    %td Badge Completion Matrix
    %td
      No alternative found, although the same data could be gathered slowly by using OSM’s Badges by person view
      to narrow down which badges to look at.
  %tr
    %td
    %td Badge Stock Check
    %td OSM now has this report, although printing it (or the shopping list version) requires a Gold subscription.
  %tr
    %td
    %td Calendar
    %td No alternative found.
  %tr
    %td
    %td Due Badges
    %td OSM now allows you to download/print this from Due badges although it does require a Gold subscription.
  %tr
    %td
    %td Event Attendance
    %td No alternative found.
  %tr
    %td
    %td Member’s Photos
    %td No alternative found.
  %tr
    %td
    %td Missing Badge Requirements
    %td No alternative found.
  %tr
    %td
    %td Planned Badge Requirements
    %td No alternative found.

  %tr
    %td Search Members
    %td
    %td
      No alternative found, although the group dashboard does allow it for first name (of member),
      last name (of members), or email address.

%a{ name: 'stay-upto-date' }
%h3 Stay Upto Date
- if current_user.closing_updates
  %p
    You are currently receiving emails when things change,
    =link_to 'click here to stop being emailed', closing_stop_updates_path, method: :post
- else
  %p
    You are not currently receiving emails when things change,
    =link_to 'click here to start being emailed', closing_start_updates_path, method: :post

%a{ name: 'settings-export' }
%h2 Settings Export
%p
  I am hoping that the other developers who use OSM’s API may reimplement some of the more useful features,
  below you will find some blobs of text that you should be able to copy-paste to them in order to easily move
  your settings to their offering.

%a{ name: 'settings-export-everything' }
%h3 Everything
%textarea{readonly: true, rows: 10, wrap: 'off', style: 'width: 75%; margin-left: 12.5%'}= JSON.pretty_generate(@everything)

%a{ name: 'settings-export-email-reminders' }
%h3 Email Reminders
%textarea{readonly: true, rows: 10, wrap: 'off', style: 'width: 75%; margin-left: 12.5%'}= JSON.pretty_generate(@email_reminders)

%a{ name: 'settings-export-email-lists' }
%h3 Email Lists
%textarea{readonly: true, rows: 10, wrap: 'off', style: 'width: 75%; margin-left: 12.5%'}= JSON.pretty_generate(@email_lists)

%a{ name: 'settings-export-automation-tasks' }
%h3 Automation Tasks
%textarea{readonly: true, rows: 10, wrap: 'off', style: 'width: 75%; margin-left: 12.5%'}= JSON.pretty_generate(@automation_tasks)
