<% provide :title, "#{current_user.name}'s Page" %>

<%- unless current_user.connected_to_osm? %>
  <p>You have not yet connected your account to your OSM account - <%= link_to 'Connect now', connect_to_osm_path %></p>
<%- end %>


<%- if @sections.size > 1 %>
  <h2>Change Current Section</h2>
  <ul>
  <%- @sections.each do |section| %>
    <li><%= link_to section[:name], "#{change_section_path}?section_id=#{section[:id]}" %></li>
  <%- end %>
  </ul>
<%- end %>


<h2>My Preferences</h2>
<%= form_tag update_my_preferences_path, :method=>:post do %>
  <div class="field">
    <%= label_tag :startup_section %><br/>
    <%= select_tag :startup_section, options_for_select({'No preference'=>'0'}.merge(@sections.inject({}){ |new_hash, section| new_hash[section[:name]] = section[:id]; new_hash }), current_user.startup_section) %>
  </div>

  <div class="field">
    <%= label_tag :Connected_to_OSM %><br/>
    <%- if current_user.connected_to_osm? %>
      <%= yes_no true %> - <%= link_to 'Connect to a different OSM account', connect_to_osm_path %>
    <%- else %>
      <%= yes_no false %> - <%= link_to 'Connect now!', connect_to_osm_path %>
    <%- end %>
  </div>

  <%= submit_tag 'Save preferences' %>
<% end %>




<%- unless @tasks.empty? %>
<h2>Site Tasks</h2>
<ul>
  <%- @tasks.each do |task| %>
    <li><%= link_to task[:name], task[:path] %></li>
  <%- end %>
</ul>
<%- end %>
  