<% provide :title, "OSM Permissions" %>

<p>To change what this site is able to do with your data in OSM you need change our access rights in OSM, to do this:</p>
<ol>
  <li>Go to <a href="https://www.onlinescoutmanager.co.uk" target="_blank">https://www.onlinescoutmanager.co.uk</a> and login.</li>
  <li>Using the "Account" drop down menu choose "External Access"</li>
  <li>Setup "<%= current_user.osm_api.api_name %>" to have access to your data, the list below shows what permissions are used for what as well as what permissions you have granted.
</ol>


<%- if current_section %>
  <h2>Current Section - <%= "#{current_section.group_name} : #{current_section.name}" %></h2>
  <%= render 'osm_permissions', :section => current_section %>
<%- end %>

<%- unless @other_sections.empty? %>
  <%- if current_section %>
    <h2>Other Sections</h2>
  <%- end %>
  <%- @other_sections.each do |section| %>
    <h3><%= "#{section.group_name} : #{section.name}" %></h3>
    <%= render 'osm_permissions', :section => section %>
  <%- end %>
<%- end %>