<%= page_title 'Status' %>

<h2>Sessions</h2>
<p>There are a total of <%= number_with_delimiter(@status.total_sessions) %> <%= "session".pluralize(@status.total_sessions) %>.</p>

<h2>Unicorn</h2>
<p>Unicorn currently has <%= pluralize(@status.unicorn_workers, 'worker') %>.</p>

<h2>Redis</h2>
<%- used = @status.cache_used %>
<%- maximum = @status.cache_maximum %>
<p>Using <%= number_to_human_size(used) %> of <%= number_to_human_size(maximum) %> (<%= number_to_percentage((used*100/maximum), precision: 1) %>).</p>
<p>There are <%= @status.cache_keys %> keys in the cache.</p>
<%- cache_hits = @status.cache_hits %>
<%- cache_misses = @status.cache_misses %>
<%- cache_attempts = cache_hits + cache_misses %>
<p>There have been <%= number_with_delimiter(cache_hits) %> (<%= number_to_percentage((cache_hits*100/cache_attempts), precision: 1) %>) cache hits and <%= number_with_delimiter(cache_misses) %> (<%= number_to_percentage((cache_misses*100/cache_attempts), precision: 1) %>) cache misses.</p>

<h2>Database</h2>
<%- database_size = @status.database_size %>
<%- totals = database_size[:totals] %>
<table id="database-sizes">
  <thead>
    <tr>
      <th>Model</th>
      <th>Table</th>
      <th>Count</th>
      <th colspan="2">Size</th>
    </tr>
  </thead>
  <tbody>
    <%- database_size[:tables].each do |item| %>
      <tr>
        <td><%= item[:model] %></td>
        <td><%= item[:table] %></td>
        <td><%= item[:count] %></td>
        <td><%= item[:size] %></td>
        <td><%= number_to_human_size(item[:size]) %></td>
      </tr>
    <%- end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" style="text-align: right;">Total (accross <%= database_size[:tables].length %> tables):</td>
      <td><%= totals[:count] %></td>
      <td><%= totals[:size] %></td>
      <td><%= number_to_human_size(totals[:size]) %></td>
    </tr>
  </tfoot>
</table>

<h2>Users</h2>
<%- users = @status.users %>
<p>There are a total of <%= users[:total] %> users.</p>
<ul>
  <li><%= pluralize users[:pending_activation], 'has', 'have' %> not yet activated their account.</li>
  <li><%= pluralize users[:activated_unlinked], 'has', 'have' %> activated their account but not yet linked it to OSM.</li>
  <li><%= pluralize users[:activated_linked], 'has', 'have' %> have activated their account and linked it to OSM.</li>
</ul>
