<%= page_title 'Status' %>

<h2>OSMX Version</h2>
<p>Running commit <%= link_to @status.commit[:id], "https://github.com/robertgauld/OSMExtender/commit/#{@status.commit[:id]}" %> - <%= @status.commit[:title] %></p>

<h2>Sessions</h2>
<%- sessions = @status.sessions %>
<p>There are a total of <%= number_with_delimiter(sessions[:totals][:all]) %> <%= "session".pluralize(sessions[:totals][:all]) %>.</p>
<ul>
  <li><%= pluralize sessions[:totals][:users], 'user' %>.</li>
  <li><%= pluralize sessions[:totals][:guests], 'guest' %>.</li>
  <li>
    The average session duration is <%= time_ago_in_words(sessions[:average_durations][:all].seconds.ago) %>.<ul>
      <li><%= time_ago_in_words(sessions[:average_durations][:users].seconds.ago) %> for users.</li>
      <li><%= time_ago_in_words(sessions[:average_durations][:guests].seconds.ago) %> for guests.</li>
    </ul>
  </li>
  <li>
    The average session age is <%= time_ago_in_words(sessions[:average_ages][:all].seconds.ago) %>.<ul>
      <li><%= time_ago_in_words(sessions[:average_ages][:users].seconds.ago) %> for users.</li>
      <li><%= time_ago_in_words(sessions[:average_ages][:guests].seconds.ago) %> for guests.</li>
    </ul>
  </li>
  <li>The oldest session is <%= time_ago_in_words sessions[:oldest].created_at %> old.</li>
  <li>The newest session is <%= time_ago_in_words sessions[:newest].created_at %> old.</li>
  <li>Sessions expire after <%= seconds_to_time Rails.application.config.sorcery.session_timeout %> of inactivity.</li>
</ul>

<h2>Unicorn</h2>
<p>Unicorn currently has <%= pluralize(@status.unicorn_workers, 'worker') %>.</p>

<h2>Cache</h2>
<%- cache = @status.cache %>
<%- used = cache[:ram_used] %>
<%- maximum = cache[:ram_max] %>
<p>Using <%= number_to_human_size(used) %> of <%= number_to_human_size(maximum) %> (<%= number_to_percentage((used*100/maximum), precision: 1) %>).</p>
<p>There are <%= cache[:keys] %> keys in the cache.</p>
<%- cache_hits = cache[:cache_hits] %>
<%- cache_misses = cache[:cache_misses] %>
<%- cache_attempts = cache[:cache_attempts].to_f %>
<p>There have been <%= number_with_delimiter(cache_hits) %> (<%= number_to_percentage(cache[:cache_hits_percent], precision: 1) %>) cache hits and <%= number_with_delimiter(cache_misses) %> (<%= number_to_percentage(cache[:cache_misses_percent], precision: 1) %>) cache misses.</p>

<h2>Database</h2>
<%- database_size = @status.database_size %>
<%- totals = database_size[:totals] %>
<table id="database-sizes">
  <thead>
    <tr>
      <th>Model</th>
      <th>Table</th>
      <th>Count</th>
      <th colspan="2">Size</th>
    </tr>
  </thead>
  <tbody>
    <%- database_size[:tables].each do |item| %>
      <tr>
        <td><%= item[:model] %></td>
        <td><%= item[:table] %></td>
        <td><%= item[:count] %></td>
        <td><%= item[:size] %></td>
        <td><%= number_to_human_size(item[:size]) %></td>
      </tr>
    <%- end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" style="text-align: right;">Total (accross <%= database_size[:tables].length %> tables):</td>
      <td><%= totals[:count] %></td>
      <td><%= totals[:size] %></td>
      <td><%= number_to_human_size(totals[:size]) %></td>
    </tr>
  </tfoot>
</table>

<h2>Users</h2>
<%- users = @status.users %>
<p>There are a total of <%= users[:total] %> users.</p>
<ul>
  <li><%= pluralize users[:unactivated], 'has', 'have' %> not yet activated their account.</li>
  <li><%= pluralize users[:activated], 'has', 'have' %> activated their account but not yet linked it to OSM.</li>
  <li><%= pluralize users[:connected], 'has', 'have' %> activated their account and linked it to OSM.</li>
</ul>
