<%= page_title "#{current_user.name}'s Account - Edit Details" %>

<%= form_tag update_my_account_path, :method => :put do %>
  <% if @user.errors.any? %>
    <div id="error_messages">
      <h2>The following errors occured:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :name %><br/>
    <%= text_field_tag :name, @user.name %>
  </div>
  <div class="field">
    <%= label_tag :email_address %><br/>
    <%= email_field_tag :email_address, @user.email_address %>
  </div>

  <div class="field">
    <%= label_tag :current_password %> (Only required if changing your email address)<br/>
    <%= password_field_tag :current_password %>
  </div>
  <div class="actions">
    <%= submit_tag 'Save changes' %>
  </div>
<% end %>
