<% provide :title, 'My Account - Change Password' %>

<%= form_tag update_my_password_path, :method => :put do %>
  <% if @user.errors.any? %>
    <div id="error_messages">
      <h2>The following errors occured:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :current_password %><br/>
    <%= password_field_tag :current_password %>
  </div>
  <div class="field">
    <%= label_tag :password %><br/>
    <%= password_field_tag :new_password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation %><br/>
    <%= password_field_tag :new_password_confirmation %>
  </div>

  <div class="actions">
    <%= submit_tag 'Change password' %>
  </div>
<% end %>