<% provide :title, "#{current_user.name}'s Account" %>

<h2>Personal Details</h2>

<div class="field">
  GRAvatar<br/>
  <%= image_tag "http://www.gravatar.com/avatar/#{current_user.gravatar_id}?size=120".html_safe, :size=>'120x120', :alt=>"#{current_user.name}'s gravatar" %><br/>
  Change your GRAvatar by going to <%= link_to 'GRAvatar.com', 'http://www.gravatar.com', :target=>'_blank' %>
</div>

<div class="field">
  <%= label_tag :name %><br/>
  <%= current_user.name %>
</div>

<div class="field">
  <%= label_tag :email_address %><br/>
  <%= current_user.email_address %>
</div>

<div class="field">
  <%= label_tag :Connected_to_OSM %><br/>
  <%- if current_user.connected_to_osm? %>
    Yes (user ID: <%= current_user.osm_userid %>) <%= link_to 'Connect to a different OSM account', connect_to_osm_path %>
  <%- else %>
    No - <%= link_to 'Connect now!', connect_to_osm_path %>
  <%- end %>
</div>
