<h2>The following <%= (data[:due_badges].by_member.size > 1) ? 'members are' : 'member is' %> due badges</h2>
<%- badges_due = data[:due_badges].by_member %>
<%- badge_totals = data[:due_badges].totals %>
<%- badge_names = data[:due_badges].badge_names %>
<%- member_names = data[:due_badges].member_names %>
<%- badge_stock = data[:badge_stock] %>
<ul><%- badges_due.each do |member_id, badges| %>
  <li><%= member_names[member_id] %>:
<ul><%- badges.each do |badge| %>
    <li><%= badge_names[badge] %></li>
<%- end %></ul></li>
<%- end %></ul>

<h2>You need to have the following badges</h2>
<ul><%- badge_totals.each do |badge, total| %>
  <li><%= badge_names[badge] %> x <%= badge_totals[badge] %><%- if configuration[:show_stock] %> <%= pos_neg(((badge_stock[badge] || 0) >= badge_totals[badge]), "(you have #{(badge_stock[badge] || 0)})") %><%- end %></li>
<%- end %></ul>
