The following <%= (data.size > 1) ? 'members have birthdays' : 'member has a birthday' %> between <%= ordinalized_date(configuration[:the_last_n_months].months.ago, "%d %b %Y") %> and <%= ordinalized_date(configuration[:the_next_n_months].months.from_now, "%d %b %Y") %>:
<ul><%- data.each do |birthday| %>
  <li><%= birthday[:name] %> <%= (birthday[:birthday] < Date.today) ? 'turned' : 'turns' %> <%= birthday[:age_on_birthday] %> on <%= ordinalized_date(birthday[:birthday], "%a the %d of %b %Y") %></li>
<%- end %></ul>
