The following events are happening in the next <%= pluralize(configuration[:the_next_n_months], 'month') %>:
<ul><%- data[:events].each do |event| %>
  <li><%= event.name %><%- if event.start %> on <%= ordinalized_date(event.start, (event.start.hour.eql?(0) ? "%a %d of %b %Y" : "%a %d of %b %Y at %H:%M")) %><%- end %> (book by <%= ordinalized_date(event.confirm_by_date, "%d of %b") %>)
  <%- if configuration[:include_attendance] %>
    <%- attendance = data[:attendance][event.id] %>
    <ul>
      <%- [:yes, :no, :invited, :shown, :reserved].each do |i| %>
        <% if attendance[i][:total] > 0 %><li><%= i.to_s.titleize %>: <%= attendance[i][:total] %> (<%= attendance[i][:members] %> members and <%= attendance[i][:leaders] %> leaders)</li><% end %>
      <%- end %>
    </ul>
  <%- end %>
  </li>
<%- end %></ul>
