<p>This is your reminder email for <%= @reminder.section_name %>.</p>


<%- @data[:display_items].each do |item| %>
  <h1><%= item[:item].human_name.titleize %></h1>
<%- unless item[:data].nil? %>
<%= render "reminder_mailer/#{item[:item].type.underscore}", :data => item[:data], :configuration => item[:item].configuration %>
<%- else %>
  <p>There is no information to display.</p>
<%- end %>
  <hr/>
<%- end %>


<%- unless @data[:error_items].empty? %>
  <h1>Some Errors Occured</h1>
  <p>The following items raised errors whilst being processed:</p>
  <ul><%- @data[:error_items].each do |error| %>
    <li><%= error[:item].human_name.titleize %> - <%= error[:exception].message %></li>
  <%- end %></ul>
<%- end %>


<%- unless @share.nil? %>
  <h1>This Reminder is Shared With You</h1>
  <p>
    You are getting this reminder because <%= @share.reminder.user.name %> shared it with you. You can edit your subscription to this email by following the link below.
    <br/><%= link_to nil, edit_email_reminder_subscription_url(:id => @share.id, :auth_code => @share.auth_code) %>
  </p>
<%- end %>
