<p>Thank you <%= @share.name %>, you are now subscribed to the reminder email for <%= @share.reminder.section_name %> on <%= day_name(@share.reminder.send_on) %>.</p>

<p>Should you wish to unsubscribe from the email then please use the following link
<br/><%= link_to @url, @url %><br/>
This link will also appear at the bottom of your reminder emails. If you unsubscribe you'll be able to resubscribe to the email, just as long as <%= @share.reminder.user.name %> is still sharing it with you.</p>
