<% provide :title, "#{@record.name} for #{@section.name}" %>


<table id="table">
  <thead>
    <tr class="row_head">
      <%- @fields.each do |field| %>
        <%- if @field_order.include?(field.id) %>
          <th class="cell_<%= field.id %> field_head"><%= field.name %></th>
        <%- end %>
      <%- end %>
    </tr>
  </thead>
  <tbody>
    <%- @records.each do |record| %>
      <tr class="row_data">
        <%- @field_order.each do |field| %>
          <td class="cell_<%= field %> field_data"><%= record.fields[field] %></td>
        <%- end %>
      </tr>
    <%- end %>
    <tr class="row_total">
      <td class="label" colspan="<%= @field_order.size - @totals.size %>" style="text-align: right;">Total:</td>
      <%- @total_count_fields.each do |field| %>
        <td class="cell_<%= field %> field_total"><%= @totals[field] %></td>
      <%- end %>
    </tr>
    <tr class="row_count">
      <td class="label" colspan="<%= @field_order.size - @totals.size %>" style="text-align: right;">Count:</td>
      <%- @total_count_fields.each do |field| %>
        <td class="cell_<%= field %> field_count""><%= @counts[field] %></td>
      <%- end %>
    </tr>
  </tbody>
</table>


<div id="change_sizes">
  <h2>Change sizes</h2>
  <span onClick="changeTextSize(-1);">[-]</span> <span onClick="changeTextSize(1);">[+]</span> Text Size<br/>
  <span onClick="changeRowHeight(-4);">[-]</span> <span onClick="changeRowHeight(4);">[+]</span> Row Height<br/>
  <%- @fields.each do |field| %>
    <span onClick="changeColumnWidth('<%= field.id %>', -10);">[-]</span> <span onClick="changeColumnWidth('<%= field.id %>', 10);">[+]</span> Width of <%= field.name %><br/>
  <%- end %>
  <span onClick="saveCustomSizes('<%= form_authenticity_token.to_s %>');">[Save text and row sizes]</span>
</div>


<script type="text/javascript">
  <%- if current_user.custom_row_height? %>
    setRowHeight(<%= current_user.custom_row_height %>);
  <%- end %>
  <%- if current_user.custom_text_size? %>
    setTextSize(<%= current_user.custom_text_size %>);
  <%- end %>
</script>

