<%= page_title "Map Members for #{get_section_names[@section.id]}" %>
<% provide :use_maps, true %>

<div style="width: 710px; margin-left: auto; margin-right: auto;">
  <div id="setup" style="max-width: 300px; margin-top: 0px; display: inline-block; vertical-align: middle;">
    <h2>Setup Map</h2>

    <h3>Pin colours for each <%= get_grouping_name(current_section.type) %></h3>
    <%- @groupings.each do |name, id| %>
      <label for="pin-<%= id %>" style="display: inline-block; min-width: 100px; text-align: right;"><%= name %></label>
      <%= select_tag "pin-#{id}", options_from_collection_for_select(@pin_colours, :downcase, :capitalize, (@pin_colours.include?(name.downcase) ? name.downcase : ((id == -2) ? 'white' : nil))) %><br/>
    <%- end %>

    <h3>Which address?</h3>
    Use the <%= select_tag 'address', options_from_collection_for_select({:address=>current_section.column_names[:address], :address2=>current_section.column_names[:address2]}, :first, :last) %> Address.

    <h3>Where do you meet?</h3>
    <%= text_field_tag 'base' %>(optional)

    <h2>Plot your members</h2>
    <%= button_tag 'Plot members', :name=>'plot', :type => :button, :onClick => "plot(#{params[:section_id]});" %>
  </div>

  <div style="display: inline-block; vertical-align: middle; text-align: center; margin-left: 10px;">
    <div id="map" style="width: 400px; height: 400px; margin-bottom: 10px;"></div>
    <div id="progress" style="width: 100%; background-color: #8888ff; text-align: left;"></div>
    <div id="errors" style="width: 100%; background-color: #ff8888; text-align: left; font-weight: bold;"></div>
  </div>

</div>
