<%= page_title 'Missing Badge Requirements Report' %>

<p>
  The following badge types are included in this report:<ul>
    <%- @badge_types.values.each do |label| %>
      <li><%= label %></li>
    <%- end %>
  </ul>
</p>

<h2>Grouped by Member</h2>
<ul>
  <%- @badge_data_by_member.each do |member_id, badges| %>
    <li>
      <%= @member_names[member_id] %>:
      <ul>
      <%- [:core, :activity, :challenge].each do |type| %>
        <%- unless badges[type].nil? %>
          <li>
            <%= @badge_types[type] %>:
            <ul>
            <%- badges[type].each do |data| %>
              <%- if data.is_a?(String) %>
                <li><%= data %></li>
              <%- else %>
                <li>
                  <%- total_needed = 0 %>
                  <%- sections_in_badge = data.badge.needed_from_section.keys.size %>
                  <%- data.badge.needed_from_section.each{ |section, needed| needed_in_section = (needed - data.gained_in_sections[section]); total_needed += needed_in_section if needed_in_section > 0} %>
                  <%- total_needed = data.badge.total_needed if data.badge.total_needed > total_needed %>
                  <%- sections_needed = data.badge.sections_needed - data.sections_gained %>
                  <%= data.badge.name %> (need to do <%= total_needed %>):
                  <ul>
                    <%- data.gained_in_sections.each do |section, gained| %>
                      <%- needed_from_section = (data.badge.needed_from_section[section] || 0) - gained %>
                      <%- if needed_from_section > 0 %>
<%- if sections_in_badge > 1 %>
                        <li>
                          Section <%= section.upcase %> (need to do <%= needed_from_section %>):
                          <ul>
<%- end %>
                            <%- data.requirements.each do |r_key, r_value| %>
                              <%- if r_key[0].eql?(section) && (r_value.blank? || r_value.to_s[0].downcase.eql?('x')) %>
                                <li>
                                  <%= @badge_requirement_labels[type][data.badge.osm_key][r_key] %>
                                </li>
                              <%- end %>
                            <%- end %>
<%- if sections_in_badge > 1 %>
                          </ul>
                        </li>
<%- end %>
                      <%- end %>
                    <%- end %>
                  </ul>
                </li>
              <%- end %>
            <%- end %>
            </ul>
          </li>
        <%- end %>
      <%- end %>
      <%- unless badges[:staged].nil? %>
        <li>
          Staged Activity:
          <ul>
          <%- badges[:staged].each do |data| %>
            <%- if data.is_a?(String) %>
              <li><%= data %></li>
            <%- else %>
              <li>
                <%- stage = "abcde"[data.started - 1] %>
                <%= data.badge.name %> (need to do <%= data.badge.needed_from_section[stage] - data.gained_in_sections[stage] %>):
                <ul>
                  <%- data.requirements.each do |r_key, r_value| %>
                    <%- if r_key[0].eql?(stage) && (r_value.blank? || r_value.to_s[0].downcase.eql?('x')) %>
                      <li>
                        <%= @badge_requirement_labels[:staged][data.badge.osm_key][r_key] %>
                      </li>
                    <%- end %>
                  <%- end %>
                </ul>
              </li>
            <%- end %>
          <%- end %>
          </ul>
        </li>
      <%- end %>
      </ul>
    </li>
  <%- end %>
</ul>


<h2 class="page-break-before">Grouped by Badge</h2>
<ul>
  <%- @badge_types.each do |type, label| %>
    <%- if @badge_data_by_badge[type].size > 0 %>
      <li><%= label %>:
        <ul>
          <%- @badge_data_by_badge[type].each do |badge_key, requirements| %>
            <%- if requirements.size > 0 %>
              <li><%= @badge_names[type][badge_key] %>:
                <ul>
                  <%- requirements.each do |r_key, members| %>
                    <li><%= @badge_requirement_labels[type][badge_key][r_key] %>:
                      <ul>
                        <%- members.each do |member_id| %>
                          <li><%= @member_names[member_id] %></li>
                        <%- end %>
                      </ul>
                    </li>
                  <%- end %>
                </ul>
              </li>
            <%- end %>
          <%- end %>
        </ul>
      </li>
    <%- end %>
  <%- end %>
</ul>
