<%= page_title 'Missing Badge Requirements Report' %>

<p>
  The following badge types are included in this report:<ul>
    <%- @badge_types.values.each do |label| %>
      <li><%= label %></li>
    <%- end %>
  </ul>
  However badges which require you to add columns are ignored. This report also doesn't take account of which combinations of modules are required (only the minimum number required).
</p>

<h2>Grouped by Member</h2>
<ul>
  <%- @badge_data_by_member.each do |member_id, badges| %>
    <li>
      <%= @member_names[member_id] %>:
      <ul>
      <%- [:core, :activity, :challenge].each do |type| %>
        <%- unless badges[type].nil? %>
          <li>
            <%= @badge_types[type] %>:
            <ul>
            <%- badges[type].each do |data| %>
              <%- if data.is_a?(String) %>
                <li><%= data %></li>
              <%- else %>
                <li>
                  <%- total_needed = 0 %>
                  <%- sections_in_badge = data.badge.modules.size %>
                  <%- data.badge.needed_per_module.each{ |section, needed| next unless section.is_a?(String); needed_in_section = (needed - data.gained_in_modules[section]); total_needed += needed_in_section if needed_in_section > 0} %>
                  <%- total_needed = data.badge.completion_criteria[:min_requirements_completed] if data.badge.completion_criteria[:min_requirements_completed] > total_needed %>
                  <%- sections_needed = data.badge.completion_criteria[:min_modules_required] - data.modules_gained.size %>
                  <%= data.badge.name %> (need to do <%= total_needed %>):
                  <ul>
                    <%- data.gained_in_modules.select{ |k,v| k.is_a?(String) }.each do |section, gained| %>
                      <%- needed_from_section = (data.badge.needed_per_module[section] || 0) - gained %>
                      <%- if needed_from_section > 0 %>
<%- if sections_in_badge > 1 %>
                        <li>
                          Module <%= section.upcase %> (need to do <%= needed_from_section %>):
                          <ul>
<%- end %>
                            <%- data.badge.requirements.select{ |r| r.module_letter.eql?(section)}.each do |r| %>
                              <%- unless data.requirement_met?(r.field) %>
                                <li>
                                  <%= r.name %>
                                </li>
                              <%- end %>
                            <%- end %>
<%- if sections_in_badge > 1 %>
                          </ul>
                        </li>
<%- end %>
                      <%- end %>
                    <%- end %>
                  </ul>
                </li>
              <%- end %>
            <%- end %>
            </ul>
          </li>
        <%- end %>
      <%- end %>
      <%- unless badges[:staged].nil? %>
        <li>
          Staged Activity:
          <ul>
          <%- badges[:staged].each do |data| %>
            <%- if data.is_a?(String) %>
              <li><%= data %></li>
            <%- else %>
              <li>
                <%- stage = ('a'..'z').to_a[data.started - 1] %>
                <%= data.badge.name %> <%= data.started %> (need to do <%= data.badge.needed_per_module[stage] - data.gained_in_modules[stage] %>):
                <ul>
                  <%- data.badge.requirements.select{ |r| r.module_letter.eql?(stage)}.each do |r| %>
                    <%- unless data.requirement_met?(r.field) %>
                      <li>
                        <%= r.name %>
                      </li>
                    <%- end %>
                  <%- end %>
                </ul>
              </li>
            <%- end %>
          <%- end %>
          </ul>
        </li>
      <%- end %>
      </ul>
    </li>
  <%- end %>
</ul>


<h2 class="page-break-before">Grouped by Badge</h2>
<ul>
  <%- @badge_types.each do |type, label| %>
    <%- if @badge_data_by_badge[type].size > 0 %>
      <li><%= label %>:
        <ul>
          <%- @badge_data_by_badge[type].each do |badge_key, requirements| %>
            <%- if requirements.size > 0 %>
              <li><%= @badge_names[type][badge_key] %>:
                <ul>
                  <%- requirements.each do |r_key, members| %>
                    <li><%= '@badge_requirement_labels[type][badge_key][r_key]' %>:
                      <ul>
                        <%- members.each do |member_id| %>
                          <li><%= @member_names[member_id] %></li>
                        <%- end %>
                      </ul>
                    </li>
                  <%- end %>
                </ul>
              </li>
            <%- end %>
          <%- end %>
        </ul>
      </li>
    <%- end %>
  <%- end %>
</ul>
