<%= page_title 'Planned Badges Report' %>

<h2>Badge Requirements Planned</h2>
<p>You are planning to meet the following badge requirements between <%= ordinalized_date(@start, "%a %d of %b %Y") %> and <%= ordinalized_date(@finish, "%a %d of %b %Y") %>.</p>

<h3>By Badge</h3>
<ul>
  <%- @by_badge.each do |badge, requirements| %>
    <li>
      <%= badge %>:<ul>
        <%- requirements.each do |requirement| %>
          <li><%= requirement %></li>
        <%- end %>
      </ul>
    </li>
  <%- end %>
</ul>


<h3>By Meeting</h3>
<ul>
  <%- @by_meeting.each do |meeting, links| %>
    <li><%= meeting.title %> on <%= ordinalized_date(meeting.date, "%a %d of %b %Y") %>
      <ul>
        <%- links.each do |badge, requirements| %>
          <li>
            <%= badge %>:<ul>
              <%- requirements.each do |requirement| %>
                <li><%= requirement %></li>
              <%- end %>
            </ul>
          </li>
        <%- end %>
      </ul>
    </li>
  <%- end %>
</ul>


<h3>By Event</h3>
<ul>
  <%- @by_event.each do |event, links| %>
    <li>
      <%= event.name %><% unless event.start.nil? %> on <%= ordinalized_date(event.start, "%a %d of %b %Y") %><% end %>:
      <ul>
        <%- links.each do |badge, requirements| %>
          <li><%= badge %>:<ul>
            <%- requirements.each do |requirement| %>
              <li><%= requirement %></li>
            <%- end %>
          </ul></li>
        <%- end %>
      </ul>
    </li>
  <%- end %>
</ul>


<%- if @check_earnt %>
  <h2>Badges Completed</h2>
  <p>
    The following badges will be completed if everyone turns up all the time.
    The process of working this out is fairly dumb, it doesn't take account of:<ul>
      <li>Badges you have to add columns to (e.g. Nights away, Hikes, Time on the water)
      <li>Badges which require another badge to be completed (it will assume it'll be earnt even if the oter badge hasn't been earnt)
    </ul>
    <%- unless current_section.subscription_at_least?(:silver) %><b>Activity badges have been excluded as you need at least a Silver subscription in OSM to use them.</b><%- end %>
  </p>

  <%- unless @earnt_badges.empty? %>
    <ul>
      <%- @earnt_badges.sort.each do |(badge, level), member_names| %>
        <%- badge_name = "#{badge.type.to_s.titleize} - #{badge.name}" %>
        <%- badge_name = badge.has_levels? ? "#{badge_name} #{level}" : badge_name %>
        <%- badge_stock = @badge_stock["#{badge.id}_#{level}"] %>
        <li>
          <%= badge_name %> (x <%= member_names.count %>)
          <%- if @check_stock %><%= pos_neg((badge_stock >= member_names.count), "(you have #{badge_stock})") %><%- end %>
          :
          <ul>
            <%- member_names.each do |member_name| %>
              <li><%= member_name %></li>
            <%- end %>
          </ul>
        </li>
      <%- end %>
    </ul>
  <%- else %>
    <p>No badges will be earnt.</p>
  <%- end %>
<%- end %>
