<!DOCTYPE html>
<html>
<head>
  <title>Section Management System<%= ' - ' + yield(:title) if (yield(:title).length > 0) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
