<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? "OSMExtender - #{yield :title}" : 'OSMExtender' %>
  </title>

  <%= stylesheet_link_tag 'jquery.ui.all' %>
  <%= stylesheet_link_tag 'jquery.toastmessage' %>
  <%= stylesheet_link_tag 'application', :media => :all %>
  <%= stylesheet_link_tag 'application__print', :media=>:print %>
  <%= stylesheet_link_tag params[:controller], :media=>:all if OSMExtender::Application.assets.find_asset("#{params[:controller]}.css") %>
  <%= stylesheet_link_tag "#{params[:controller]}__#{params[:action]}", :media=>:all if OSMExtender::Application.assets.find_asset("#{params[:controller]}__#{params[:action]}.css") %>
  <%= stylesheet_link_tag "#{params[:controller]}__print", :media=>:print if OSMExtender::Application.assets.find_asset("#{params[:controller]}__print.css") %>
  <%= stylesheet_link_tag "#{params[:controller]}__#{params[:action]}__print", :media=>:print if OSMExtender::Application.assets.find_asset("#{params[:controller]}__#{params[:action]}__print.css") %>

  <%= javascript_include_tag :jquery  %>
  <%= javascript_include_tag :jquery_ujs %>
  <%= javascript_include_tag 'jquery.ui.all' %>
  <%= javascript_include_tag 'jquery.thead' %>
  <%= javascript_include_tag 'jquery.toastmessage' %>
  <%= javascript_include_tag 'https://www.google.com/jsapi' if content_for?(:use_charts) %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false' if content_for?(:use_maps) %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag params[:controller] if OSMExtender::Application.assets.find_asset("#{params[:controller]}.js") %>
  <%= javascript_include_tag "#{params[:controller]}__#{params[:action]}" if OSMExtender::Application.assets.find_asset("#{params[:controller]}__#{params[:action]}.js") %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
    <div id="header">
      <div id="primary_menu">
        <div id="primary_menu_nav">
          <div class="menu_item"><%= link_to 'Home', root_path %></div>
          <div class="menu_item"><%= link_to 'Help', help_path %></div>
          <div class="menu_item"><%= link_to 'Contact us', contact_us_path %></div>
        </div>
        <div id="primary_menu_user">
          <% if current_user %>
            <div class="menu_item"><%= link_to 'My page', my_page_path %></div>
            <div class="menu_item"><%= link_to 'My account', my_account_path %></div>
            <div class="menu_item"><%= link_to 'Sign out', signout_path %></div>
          <% else %>
            <div class="menu_item"><%= link_to 'Sign up', signup_path %></div>
            <div class="menu_item"><%= link_to 'Sign in', signin_path %></div>
          <% end %>
        </div>
      </div><!-- primary_menu -->

      <div id="banner">
        <%= image_tag 'banner.png', :width => 750, :height => 130, :alt=>'Banner image for OSMExtender' %>
        <div>
          <div style="float: left;">Adding functionallity to the <a href="https://www.onlinescoutmanager.co.uk" target="_blank">Online Scout Manager</a></div>
          <div style="float: right;">
            Hosted by <%= link_to 'Aberdeen SAS', '//www.aberdeen-sas.org.uk' %>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div><!-- banner -->

      <div id="secondary_menu">
        <%- if current_user && !content_for?(:hide_secondary_menu) %>
          <div id="secondary_menu_admin">
            <%- if can?(:administer, User) %><div class="menu_item"><%= link_to('Administer users', users_path) %></div><%- end %>
            <%- if can?(:administer, Announcement) %><div class="menu_item"><%= link_to('Administer announcements', announcements_path) %></div><%- end %>
            <%- if current_user.can_administer_delayed_job? %><div class="menu_item"><%= link_to('Administer delayed job', delayed_jobs_path) %></div><%- end %>
            <%- if current_user.can_view_statistics? %><div class="menu_item"><%= link_to('Statistics', statistics_path) %></div><%- end %>
          </div><!-- secondary_menu_admin -->
          <div class="menu_item"><%= link_to 'Email reminders', email_reminders_path %></div>
          <%- if current_user.connected_to_osm? && current_section %>
            <div class="menu_item"><%= link_to 'Email lists', email_lists_path %></div>
            <div class="menu_item"><%= link_to 'Search members', osm_search_members_form_path %></div>
            <div class="menu_item"><%= link_to 'Shared events (management)', shared_events_path %></div>
            <div class="menu_item"><%= link_to 'Check OSM setup', check_osm_setup_path %></div>
            <div id="current_section">
              Current section: <%= "#{current_section.name} (#{current_section.group_name})" %>
            </div>
            <%- if has_osm_permission?(:read, :member) %><div class="menu_item"><%= link_to 'Contact details', osm_details_fields_path %></div><%- end %>
            <%- if !current_section.waiting? && has_osm_permission?(:read, :member) %><div class="menu_item"><%= link_to 'Map members', map_members_path %></div><%- end %>
            <%- if !current_section.waiting? && has_osm_permission?(:read, :flexi) %><div class="menu_item"><%= link_to 'Flexi records', osm_flexi_records_path %></div><%- end %>
            <%- if !current_section.waiting? && has_osm_permission?([:read, :write], :events) %><div class="menu_item"><%= link_to 'Shared events (attendance)', shared_event_attendances_path %></div><%- end %>
            <%- if current_section.youth_section? && has_osm_permission?(:read, :programme) %><div class="menu_item"><%= link_to 'Programme review', programme_review_balanced_path %></div><%- end %>
            <div class="menu_item"><%= link_to 'OSM export', osm_export_path %></div>
            <%- if current_section.youth_section? %><div class="menu_item"><%= link_to 'Payments calculator', osm_myscout_payments_calculator_path %></div><%- end %>
            <%- unless current_section.waiting? %><div class="menu_item"><%= link_to 'Reports', reports_path %></div><%- end %>
            <%- unless  current_section.waiting? \
                        || (current_section.youth_section? && has_osm_permission?(:read, [:member, :flexi, :events, :programme]) && has_osm_permission?(:write, [:events])) \
                        || (current_section.adults? && has_osm_permission?(:read, [:member, :flexi]) && has_osm_permission?([:read, :write], :events))
            %>
              <div style="margin: 0px 10% 0px, 10%; text-align: center; font-weight: bold;">
                <p>Some items have hidden from this menu because of how your <%= link_to 'OSM Permissions', check_osm_setup_path %> are set.</p>
              </div>
            <%- end %>
          <%- else %>
            <div style="margin-left: 10%; margin-right: 10%; margin-top: auto; margin-bottom: auto; text-align: center; font-weight: bold;">
              <p>Once you have <%= link_to 'connected to OSM', connect_to_osm_path %> links to more things you can do will appear here.</p>
            </div>
          <%- end %>
        <%- end %>
      </div><!-- secondary_menu -->

      <%- unless Rails.env.production? %>
        <div style="background-color: <%= {'development'=>'#ff0000', 'staging'=>'#ffff00'}[Rails.env] || '#fa5ffa' %>; color: black; text-align: center; font-size: 200%; min-height: 1em;">
          <b>This is the <%= Rails.env.upcase %> environment!</b>
          <%- if Rails.env.development? %>
            <br/>
            <%= link_to '[Rails info]', '/rails/info' %>
            <%= link_to '[Mailer previews]', '/rails/mailers' %>
          <%- end %>
        </div>
      <%- end %>

      <%- if current_announcements %>
        <div id="announcements">
          <%- current_announcements.each do |announcement| %>
            <div id="announcement-<%= announcement.id %>">
              <%= markdown(announcement.message) %>
              <%- if current_user && announcement.hideable? %>
                <p><%= link_to '[Hide this announcement]', '#', {:class => 'hide_link', :data => {'announcement-id' => announcement.id, 'csrf-token' => form_authenticity_token.to_s}} %></p>
              <%- end %>
            </div>
          <%- end %>
        </div>
      <%- end %>

      <%- if flash %>
        <div id="notices">
          <%- flash.each do |key, message| %>
            <%= content_tag :div, message, :id => "notices_#{key}" %>
          <%- end %>
        </div><!-- notices -->
      <%- end %>
    </div><!-- header -->

  
    <div id="content">
<%= yield %>
    </div><!-- content -->


  </div><!-- page -->

  <%- if Rails.env.development? %>
    <div id="debuginfo">
      <h1>Debugging Info</h1>
      <h2>@debug_log</h2>
      <pre><%= @debug_log %></pre>
      <h2>Params</h2>
      <%= debug(params) %>
      <h2>Session</h2>
      <%= debug(session) %>
    </div>
  <%- end %>

</body>
</html>
