<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? 'OSMExtender - '+yield(:title) : 'OSMExtender' %></title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag params[:controller] if OSMExtender::Application.assets.find_asset("#{params[:controller]}.css") %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

</head>
<body>
  <div id="page">
    <div id="header">
      <div id="primary_menu">
        <div id="primary_menu_nav">
          <div class="menu_item"><%= link_to 'Home', root_url %></div>
          <div class="menu_item"><%= link_to 'Help', list_faqs_path %></div>
          <div class="menu_item"><%= link_to 'Contact us', new_contact_u_path %></div>
        </div>
        <div id="primary_menu_user">
          <% if current_user %>
            <div class="menu_item"><%= link_to 'My page', my_page_path %></div>
            <div class="menu_item"><%= link_to 'My account', my_account_path %></div>
            <div class="menu_item"><%= link_to 'Sign out', signout_path %></div>
          <% else %>
            <div class="menu_item"><%= link_to 'Sign up', signup_path %></div>
            <div class="menu_item"><%= link_to 'Sign in', signin_path %></div>
          <% end %>
        </div>
      </div><!-- primary_menu -->

      <div id="banner">
        <%= image_tag 'banner.png', :width => 750, :height => 130, :alt=>'Banner image for OSMExtender' %>
        <div>
          <div style="float: left;">Adding functionallity to the <a href="https://www.onlinescoutmanager.co.uk" target="_blank">Online Scout Manager</a></div>
          <div style="float: right;">Hosted by <a href="https://www.aberdeen-sas.org.uk" target="_blank">Aberdeen Scout Active Support</a></div>
          <div style="clear: both;"></div>
        </div>
      </div><!-- banner -->

      <div id="secondary_menu">
        <%- if current_user %>
          <div id="current_section">
            <%- if current_user.connected_to_osm? %>
              Current section:
              <%- current_user.osm_api.get_roles[:data].each do |role| %>
                <%- if role.section_id == session[:current_section_id] %>
                  <%= role.section_name %> (<%= role.group_name %>)
                <%- end %>
              <%- end %>
            <%- end %>
          </div>
          <%- if current_user.connected_to_osm? %>
            <div class="menu_item"><%= link_to 'Email reminders', email_reminders_path %></div>
            <div class="menu_item"><%= link_to 'Programme review', programme_review_balanced_path %></div>
            <div class="menu_item"><%= link_to 'Email lists', generate_email_list_path %></div>
            <div class="menu_item"><%= link_to 'OSM permissions', osm_permissions_path %></div>
          <%- else %>
            <div style="margin-left: 10%; margin-right: 10%; margin-top: auto; margin-bottom: auto; text-align: center; font-weight: bold;">
              <p>Once you have <%= link_to 'connected to OSM', connect_to_osm_path %> links to things you can do will appear here.</p>
            </div>
          <%- end %>
        <%- end %>
        </div><!-- secondary_menu -->

      <%- if flash %>
        <div id="notices">
          <%- if flash[:error] %>
            <div id="notices_error">
              <%= flash[:error] %>
            </div><!-- notices_error -->
          <%- end %>
          <%- if flash[:warning] %>
            <div id="notices_warning">
              <%= flash[:warning] %>
            </div><!-- notices_warning -->
          <%- end %>
          <%- if flash[:notice] %>
            <div id="notices_notice">
              <%= flash[:notice] %>
            </div><!-- notices_notice -->
          <%- end %>
          <%- if flash[:instruction] %>
            <div id="notices_instruction">
              <%= flash[:instruction] %>
            </div><!-- notices_instruction -->
          <%- end %>
        </div><!-- notices -->
      <% end %>
      <%- if Rails.env.staging? %>
        <div style="background-color: #fa5ffa; color: black;">
          <h2>This is the STAGING environment!</h2>
          <p>Do not place live data on this server as the database may be reset at any point.</p>
        </div>
      <%- end %>
    </div><!-- header -->

  
    <div id="content">
      <%- if content_for?(:title) %>
        <h1><%= yield(:title) %></h1>
      <%- end %>
      <div id="tertiary_menu">
        <%- if @tertiary_menu_items %>
          <%- @tertiary_menu_items.each do |item| %>
            <div class="menu_item"><%= link_to item[0], item[1] %></div>
          <%- end %>
        <%- end %>
      </div><!-- tertiary_menu -->
<%= yield %>
    </div><!-- content -->


  </div><!-- page -->
</body>
</html>
