<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag 'mail' %>
</head>
<body>

<table id="layout">

  <!-- Banner -->
  <tr><td id="banner_top" colspan="3"><%= image_tag 'transparent-1x30.png', :width => 1, :height => 30 %></td></tr>
  <tr><td id="banner" colspan="3">
    <%= image_tag 'banner_half.png', :width => 375, :height => 65, :alt => 'OSMExtender' %>
  </td></tr>
  <tr><td id="banner_bottom" colspan="3"><%= image_tag 'transparent-1x30.png', :width => 1, :height => 30 %></td></tr>

  <!-- Flashes -->
  <%- if defined?(flash) %>
    <tr><td colspan="3"><%= image_tag 'transparent-1x15.png', :width => 1, :height => 15 %></td></tr>
    <%- if defined?(flash[:error]) && !flash[:error].blank? %>
      <tr>
        <td><%= image_tag 'transparent-30x30.png', :width => 30, :height => 30 %></td>
        <td id="notices_error" class="notice"><%= flash[:error] %></td>
        <td><%= image_tag 'transparent-30x30.png', :width => 30, :height => 30 %></td>
      </tr>
    <%- end %>
    <%- if defined?(flash[:warning]) && !flash[:warning].blank? %>
      <tr>
        <td><%= image_tag 'transparent-30x30.png', :width => 30, :height => 30 %></td>
        <td id="notices_warning" class="notice"><%= flash[:warning] %></td>
        <td><%= image_tag 'transparent-30x30.png', :width => 30, :height => 30 %></td>
      </tr>
    <%- end %>
    <%- if defined?(flash[:notice]) && !flash[:notice].blank? %>
      <tr>
        <td><%= image_tag 'transparent-30x30.png', :width => 30, :height => 30 %></td>
        <td id="notices_notice" class="notice"><%= flash[:notice] %></td>
        <td><%= image_tag 'transparent-30x30.png', :width => 30, :height => 30 %></td>
      </tr>
    <%- end %>
    <%- if defined?(flash[:instruction]) && !flash[:instruction].blank? %>
      <tr>
        <td><%= image_tag 'transparent-30x30.png', :width => 30, :height => 30 %></td>
        <td id="notices_instruction" class="notice"><%= flash[:instruction] %></td>
        <td><%= image_tag 'transparent-30x30.png', :width => 30, :height => 30 %></td>
      </tr>
    <%- end %>
  <%- end %>

  <!--Content -->
  <tr><td id="content" colspan="3">
<%= yield %>
  </td></tr>

</table>

</body>
</html>
