<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag 'mail' %>
</head>
<body>

<table id="layout">

  <!-- Banner -->
  <tr><td id="banner_top" colspan="3"><%= image_tag 'transparent-1x30.png', :width => 1, :height => 30 %></td></tr>
  <tr><td id="banner" colspan="3">
    <%= image_tag 'banner_half.png', :width => 375, :height => 65, :alt => 'OSMExtender' %>
  </td></tr>
  <tr><td id="banner_bottom" colspan="3"><%= image_tag 'transparent-1x30.png', :width => 1, :height => 30 %></td></tr>

  <!-- Flashes -->
  <%- if defined?(flash.each) %>
    <tr><td colspan="3"><%= image_tag 'transparent-1x15.png', :width => 1, :height => 15 %></td></tr>
    <%- flash.each do |key, message| %>
      <tr>
        <td><%= image_tag 'transparent-30x30.png', :width => 30, :height => 30 %></td>
        <td id="notices_<%= key %>" class="notice"><%= message %></td>
        <td><%= image_tag 'transparent-30x30.png', :width => 30, :height => 30 %></td>
      </tr>
    <%- end %>
    <tr><td colspan="3"><%= image_tag 'transparent-1x15.png', :width => 1, :height => 15 %></td></tr>
  <%- end %>

  <!--Content -->
  <tr><td id="content" colspan="3">
<%= yield %>
  </td></tr>

</table>

</body>
</html>
