<% provide :title, "Edit Shared Event Attendance - #{@shared_event_attendance.shared_event.name}" %>

<%= form_for @shared_event_attendance do |f| %>
  <% if @shared_event_attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shared_event_attendance.errors.count, "error") %> prohibited this shared event attendance from being saved:</h2>

      <ul>
      <% @shared_event_attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Event' %><br />
    <%= @shared_event_attendance.shared_event.name %>
  </div>

  <div class="field">
    <%= f.label 'Section' %><br />
    <%= "#{current_section.name} (#{current_section.group_name})" %>
  </div>


  <h2>OSM Integration</h2>
  <div class="field">
    <%= f.label :event_name, 'Name of event in OSM' %><br />
    <%= @event.name %>
  </div>


  <%- unless @shared_event_attendance.shared_event_field_datas.empty? %>
    <h3>Fields</h3>
    <p>The event organiser has requested the following information for attendees, please select where it can be found.</p>

    <table>
      <tr>
        <th>Data</th>
        <th>Source</th>
      </tr>

      <%- @shared_event_attendance.shared_event_field_datas.each do |field| %>
        <%= fields_for 'field_data[]', field do |fv| %>
          <tr>
            <td><%= field.shared_event_field.name %></td>
            <td>
              <%= fv.radio_button :source_type, 'contact_details' %>
              <label for="field_data_<%= field.id %>_source_type_contact_details">
                Contact details
                <%= select_tag "field_data[#{field.id}][source_contact_details]", options_for_select(@contact_details_fields, (field.source_type == 'contact_details' ? field.source_field : nil)), {:prompt => 'Pick a field'} %>
              </label>
              <br/>
              <%= fv.radio_button :source_type, 'flexi_record' %>
              <label for="field_data_<%= field.id %>_source_type_flexi_record">
                Flexi record
                <%= select_tag "field_data[#{field.id}][source_flexi_record]", grouped_options_for_select(@flexi_record_fields, (field.source_type == 'flexi_record' ? "#{field.source_id}:#{field.source_field}" : nil)), {:prompt => 'Pick a field'} %>
              </label>
              <br/>
              <%= fv.radio_button :source_type, 'event' %>
              <label for="field_data<%= field.id %>_source_type_event">
                A field from the event
                <%= select_tag "field_data[#{field.id}][source_event]", options_from_collection_for_select(@event.columns, :id, :name, (field.source_type == 'event' ? field.source_field : nil)), {:prompt => 'Pick a field'} %>
              </label>
            </td>


            <%- if field.errors.any? %>
              <td><%- field.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <%- end %>
              </td>
            <%- end %>
          </tr>
        <%- end %>
      <%- end %>
    </table>
  <%- end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
