<%= page_title 'New Shared Event Attendance' %>

<%= form_for @shared_event_attendance do |f| %>
  <% if @shared_event_attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shared_event_attendance.errors.count, "error") %> prohibited this shared event attendance from being saved:</h2>

      <ul>
      <% @shared_event_attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label 'Event' %><br />
    <%= @shared_event.name %>
    <%= hidden_field_tag :se_id, @shared_event.id %>
  </div>

  <div class="field">
    <%= f.label 'Section' %><br />
    <%= "#{current_section.name} (#{current_section.group_name})" %>
  </div>


  <h2>OSM Integration</h2>
  <div class="field">
    <%= f.label :event_name, 'Create an event in OSM called' %><br />
    <%= text_field_tag :event_name, (params[:event_name] ? params[:event_name] : @shared_event.name) %>
  </div>


  <%- unless @shared_event.fields.empty? %>
    <h3>Fields</h3>
    <p>The event organiser has requested the following information for attendees, please select where it can be found.</p>

    <table>
      <tr>
        <th>Data</th>
        <th>Source</th>
      </tr>
      <%- @shared_event.fields.each do |field| %>
        <tr>
          <td><%= field.name %></td>
          <td>
            <%= radio_button_tag "field_data[#{field.id}][source_type]", 'contact_details' %>
            <label for="field_data_<%= field.id %>_source_type_contact_details">
              Contact details
              <%= select_tag "field_data[#{field.id}][source_contact_details]", options_for_select(@contact_details_fields), {:prompt => 'Pick a field'} %>
            </label>
            <br/>
            <%= radio_button_tag "field_data[#{field.id}][source_type]", 'flexi_record' %>
            <label for="field_data_<%= field.id %>_source_type_flexi_record">
              Flexi record
              <%= select_tag "field_data[#{field.id}][source_flexi_record]", grouped_options_for_select(@flexi_record_fields), {:prompt => 'Pick a field'} %>
            </label>
            <br/>
            <%= radio_button_tag "field_data[#{field.id}][source_type]", 'event' %>
            <label for="field_data_<%= field.id %>_source_type_event">Create a field in the event</label>
            <ul>
              <li>
                <label for="field_data[#{field.id}][source_event_name]">Called</label>
                <%= text_field_tag "field_data[#{field.id}][source_event_name]", field.name %>
              </li>
              <li>
                <label for="field_data[#{field.id}][source_event_label]">My.SCOUT label</label>
                <%= text_field_tag "field_data[#{field.id}][source_event_label]", nil, {:placeholder => 'Leave blank to hide from My.SCOUT'} %>
              </li>
            </ul>
          </td>
        </tr>
      <%- end %>
    </table>
  <%- end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
